[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

deepdrive = "*"
scipy = "*"
numpy = "*"
"h5py" = "*"
gym = "*"
arrow = "*"
matplotlib = "*"
pytest-xdist = "*"
requests = "*"