scipy==1.2.1
numpy>=1.16.1
h5py
gym==0.10.0
arrow
matplotlib==3.0.3
pytest-xdist
requests
clint
Pillow==6.2.0
boto
future==0.18.3  # For conan
pyzmq
enum34
gputil
joblib
cloudpickle
pyarrow==0.12.1
pyglet
six
flask
cherrypy
paste
simple-pid
requests
python-box
sarge
deepdrive-api>=3.1.20191111204349
ue4_ci_helpers>=0.0.9
ue4cli

# Install from GitHub, non-editable
git+git://github.com/deepdrive/youtube-upload#egg=youtube-upload

# The deepdrive bindings are installed via install.py according to the VERSION file in this repo
