scipy
numpy>=1.16.1
h5py
gym==0.10.0
arrow
matplotlib
pytest-xdist
requests
clint
pillow
boto
future
pyzmq
enum34
gputil
joblib
cloudpickle
pyarrow>=0.12.0
pyglet
six
flask
cherrypy
paste
simple-pid
requests
python-box

# The deepdrive bindings are installed via install.py according to the VERSION file in this repo